/* importing raleway and open sans fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Raleway:wght@700&display=swap');

/* variables for different colors being used in layout */
:root{
    --main-bg-color: white;
    --secondary-active-color: #FF6C00;
    --color-black:#303030;
    --color-gray-transparent: #9DA4BD99;
    --paragraph-color1: #9DA4BD;
    --paragraph-color2: #555555;
}

/* main body code setting main font*/
body{
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: .02em;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

address{
    font-style: normal;
}

.link{
    text-decoration: none;
    color: inherit;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.paragraph-color1{
    color: var(--paragraph-color1)
}

.paragraph-color2{
    color: var(--paragraph-color2)
}

.font-subFont{
    font-size: 14px;
    line-height: 1.86;
}

.transparent-gray{
    color: var(--color-gray-transparent);
}

.black{
    color: var(--color-black);
}

.white{
    color: var(--main-bg-color);
}

/* styling for nav links */
.header-navbar-navlnk{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.header-navbar-navlnk:hover,
.header-navbar-navlnk:focus{
    color: var(--secondary-active-color);
}

.active{
    color: var(--secondary-active-color);
}

/* styling for smaller span sub headings */
.subheading{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
}

/* style for h2 */
.section-heading{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 42px;
    letter-spacing: .05em;
    line-height: 1.17;
    color: var(--color-black);
}

.ratings-list{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    color: var(--color-black);
}

.ratings-list-heading{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.05em;
    text-align: center;
}

.super-script{
    color: var(--secondary-active-color);
}

.barber-name{
    line-height: 1.39;
    color: var(--color-black);
}

.extreme-barber{
    color: var(--secondary-active-color);
    font-size: 14px;
    line-height: 1.36;
}

/* style for h1 */
.main-heading{
    font-size: 72px;
    line-height: 1.18;
    color: #FFFFFF;
}

.section-address{
    color: var(--paragraph-color1);
}

.section-address a{
    color: var(--paragraph-color1);
    text-decoration: none;
}

.section-address .underline{
    text-decoration: underline;
}

/* position and layout */

.text-margin{
    margin-top: 20px;
}

.bttn-margin40{
    margin-top: 40px;
}

.section{
    padding-top: 130px;
}

.book-service-bttn{
    width: 160px;
    height: 40px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #FF6C00;
    cursor: pointer;
}

.book-service-bttn:hover{
    cursor: pointer;
    background-color: var(--secondary-active-color);
    color: white;
}

.container{
    width: 1280px;
    padding-left: 55px;
}