@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,400&family=Raleway:wght@700&display=swap');

:root{
    --raleway: "Raleway";
    --open-sans: "Open Sans";
    --secondary-color: #FF6C00;

}

body{
    font-family: var(--open-sans);
}

h1{
    font-family: var(--raleway);
}

.navBar{
    color: var(--secondary-color);
}