.container{
    margin: 0 auto;
    padding: 0 31px;
    width: 480px;

    @media screen and (min-width: 1280px){
        width: 1280px;
        padding: 0 55px;
    }
}

.ratings__container{
    width: 480px;
    padding: 0 31px;
    margin: 0 auto;
    display: flex;

    @media screen and (min-width: 1280px){
        width: 1280px;
        padding: 0 155px;
    }
}