$main-bg-color: white;
$secondary-bg-color: #F7F7F7;
$secondary-active-color: #FF6C00;
$color-black:#303030;
$color-gray-transparent: #9DA4BD99;
$paragraph-color1: #9DA4BD;
$paragraph-color2: #555555;