.header{
    display: flex;
}

.header-bg{
    background-image: url(/img/Slider\ img\ 3.jpg);
    background-repeat: no-repeat;
    background-position: 0;
    @media screen and (min-width: 1280px){
        background-position: 155px;
        background-size: 100%;
    }
}

.header-nav{
    padding:0px;
    margin: 0px;
    margin-right: 40px

}

.header-navbar{
    margin-left: 100px;
    margin-right: 244px;
}

.header__sectionLeft{
    flex-direction: column;
    width: 93px;
    margin-top: 30px;

    @media screen and (min-width: 1280px){
        width: 155px;
    }
}

.header__leftLinks{
    display: none;

    @media screen and (min-width: 1280px){
        display: flex;
    }
}

.header__sectionRight{
    width: 480px;
    @media screen and (min-width: 1280px){
        width: 1125px;
        padding-left: 100px;
        padding-bottom: 206px;
    }
}

.logo{
    margin-left: 31px;

    @media screen and (min-width: 1280px){
        margin-left: 55px;
    }
}

.side-lnk{
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    padding-bottom: 54px;
    padding-top: 84px;
    margin-top: 282px;
}

.left_linkItem{
    margin-right: 40px;
}

.right__nav{
    display: flex;
    color: white;
    margin: 0;
    @media screen and (min-width: 1280px){
        margin-top: 30px;
    }
}

.nav__item:not(:nth-last-child(1)){
  margin-right: 40px;
}

.nav__contact{
    display: none;

    @media screen and (min-width: 1280px){
        display: flex;
        margin-left: 244px;
    }
}

.nav__link--text{
    color: white;
}

.nav{
    display: none;

    @media screen and (min-width: 1280px){
        display: flex;
    }
}

.nav__link--active{
    color: $secondary-active-color;
}

.phn__lnk{
    margin: 0;

    @media screen and (min-width: 1280px) {
        margin-right: 40px;
        margin-top: 20px;
    }
}

.hero{
    margin-top: 132px;
    @media screen and (min-width: 1280px){
        margin-top: 204px;
    }
}

.hero__heading{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 48px;
    letter-spacing: .05em;
    line-height: 1.17;
    line-height: 1.18;
    color: #FFFFFF;
    margin-top: 20px;

    @media screen and (min-width: 1280px){
        font-size: 78px;
    }
    
}

.hero__subheading{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    position: relative;
    margin-left: 80px;
}

.hero__subheading::before{
    content: " ";
    position: absolute;
    width: 60px;
    background-color: $color-gray-transparent;
    height: 1px;
    top: 7.5px;
    left: -80px;
}

.hero__subheading--text{
    color: $color-gray-transparent;
}

.hero__discription{
    color: $paragraph-color1;
}

.menu-toggle{
    max-width: 41px;
    max-height: 41px;
    margin-top: 30px;
    margin-left: 276px;

    @media screen and (min-width: 768px){
        display: none;
    }
}

.menu-toggle-close{
    margin-top: 0;
    margin-left: 276px;
}

.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: white;
    z-index: 999;
  
    transform: translateX(100vw);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.toggle-menu__topLinks{
    margin-top: 48px;
}

.toggle-menu__bottomLinks{
    margin-top: 302px;
}

.toggleMenusociallinks{
    display: flex;
}